body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

a {
    text-decoration: none;
    color: #0D47A1;
}

header {
    display: flex;
    align-items: baseline;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.header-left h1 {
    margin-right: 0;
    font-size: 1em; /* You can adjust this value as needed */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-size: 1em; /* Make sure this value is the same as the value in .header-left h1 */
}

main {
    padding: 1em;
}
