body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.header .name {
  font-weight: bold;
  font-size: 1em;
}

nav {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #333;
}
