body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

a {
    text-decoration: none;
    color: #0D47A1;
}

header {
    display: flex;
    align-items: baseline;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.header-left h1 {
    font-size: 1.2em;
    margin-left: 40px;
}

.header-right {
    margin-left: 50px;  /* Adjust this value to increase/decrease the space to the left of the nav */
}



.body-container {
    display: flex;
    align-items: flex-start; /* aligns the sidebar and main content at their tops */
    gap: 20px; /* space between the sidebar and main content */
}

.sidebar {
    width: 240px; /* adjust as needed */
    padding-left: 50px; /* Adjust this to whatever value you want */
}

.sidebar img {
    width: 60%; /* makes the image fit the sidebar width */
    height: auto; /* maintains image aspect ratio */
}

.profile-pic {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-left: 10px;
    margin-top: 40px;
}




.linkedin-link {
    margin-top: 20px;
}

.sidebar img, .sidebar .linkedin-link {
    display: block;
}




nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    font-size: 1.2em; 
}

main {
    padding: 1em;
}
